h1 {
    color: aquamarine;
    text-align: center;
}

body {
    padding: 20px;
    font-family: "Agency FB";
    align-content: center;
}

.cookieWord {
    color: cornflowerblue;
}
div {
    align-content: center;
    text-align: center;
    width: 50%;
    margin: auto;
}
img {

    width: 50%;
}