h1 {
    color: aquamarine;
    text-align: center;
}

body {
    padding: 20px;
    font-family: "Agency FB";
    align-content: center;
}

.cookieWord {
    color: cornflowerblue;
}
.cookie_type {
    align-content: center;
    text-align: center;
    width: 80%;
    margin: auto;
    border: 1px solid black;
}
.cookie_type img {
    width: 100%;
    /*border: 1px solid black;*/
}
