<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--adjust window width as needed-->
    <meta name="viewport" content="width=device-width initial-scale=1">
    <!--link to bootstrap for formatting-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--title of the webpage-->
    <title>Cookies! Cookies!</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">

</head>
  <body>
    {{{body}}}
  </body>
</html>
