<h1>This is the cookie order page</h1>
<p>Please check back as we build this</p>

<!--todo--each cookie needs a small image and cookie description, pack size.-->
<!--use a dropdown box for quantity validation (1-10).-->
<!--display a running total.-->
<!--change quantities.-->
<!--delete an item entered.-->

<!--todo--link to finalize order page,include payment and shipping.-->
<!--send order confirmation when order is successful.-->

<!--ideas-->
 <!--use javascript to update the list as items are ordered or deleted?-->
<!--week 3 slide 34++-->
<!--use canvas for dynamic graphics on order page??-->
<!--week 4 #17??++-->

<h6>
    cookie #1/ need image tag (small). Cookie name. Cookie Desc.  Dropdown box w/ 1>10.
    Cookie #2/ same
    Cookie #3/ Same
    Cookie #4/ Same
</h6>

<h3>
    Submit Button. Continue Order process (go to address and payment page to complete order)
</h3>